[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
redis = "*"
boto3 = "*"
gsutil = "*"
uvicorn = "*"
fastapi = "*"
pydantic = "*"
typing = "*"
pipenv = "*"
prettyprint = "*"
dnspython = "*"
pymongo = "*"
chalice = "*"
awscli = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.11"
